@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply 
    w-full mx-auto px-[12px]
    sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] 
    xl:max-w-[1140px] 2xl:max-w-[1320px]
}

/* Scrollbar width */
::-webkit-scrollbar {
    @apply w-[8px]
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
    @apply bg-dark/80 shadow-none
}
/* Scrollbar  Handle */
::-webkit-scrollbar-thumb {
    @apply bg-light/75 dark:bg-light/80 rounded-[4px]
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-light
}


@font-face {
    font-family: "Poppins";
    src: url("../dist/fonts/");
}

@layer base {
    html, html:focus-within {
        @apply scroll-smooth
        overflow-x-hidden overflow-y-scroll
    }
    body{
        @apply bg-light h-full
        font-text-poppins ft-nm text-dark
        /* overflow-hidden */
        text-text_xs sm:text-text_sm md:text-text_md lg:text-text_lg
        transition-all duration-300 ease-in-out
    }
    form, input{
        @apply transition-all duration-300 ease-in-out
    }
    button{
        @apply cursor-pointer
    }
    p{
        @apply tracking-[0.03rem]
    }
}

@layer components{
    /* HEADER */
    .header *{
        @apply text-light;
    }
    .header .active{
        @apply text-primary
    }
    .nav__links .nav__link_item{
        @apply font-text-inter text-[19px] ft-nm
    }
    .nav__link_item a:hover{
        @apply text-primary
    }
    .header .nav__links.show{
        @apply block absolute right-0
        rounded-[8px]
        bg-dark
        py-[15px] px-[20px]
    }
    .header .nav__links.show>li{
        @apply mb-[10px] mr-0
    }
    /* FOOTER */
    .footer__middle div:nth-child(3) ul>li>a:hover{
        @apply text-primary
    }

    /* BACK TO TOP BUTTON */
    .back-to-top {
        @apply bg-primary
        w-[150px] h-[150px] z-[999] py-[20px] 
        fixed bottom-0 right-[20px] block
        text-[100px] leading-[50px] text-center
        opacity-0 hover:opacity-100
        rounded-[50%] shadow-top_button_shadow
        transition-all duration-300 scale-[0.3]
        xs:right-[-20px] xs:bottom-[-20px]
    }

    /* HOME */
    .tns-visually-hidden { @apply hidden; }

    .homeClientSlider *{@apply select-none}
    .homeClientSlider{
        .tns-outer{@apply w-full overflow-hidden mx-a;}
        .homeClientSlider_logos img{ @apply w-[236px] max-h-[104px] pr-[24px] object-scale-down; }
    }

    
    .sectionHeading {
        @apply text-center mb-heading_margin_bottom;
        h2{
            @apply ft-sb lh-120 -ls-1 uppercase
            mb-2 sm:mb-4 font-text-poppins
            text-[32px] sm:text-[38px] md:text-heading_h2
        }
        p{ 
            @apply font-text-inter lh-140 text-gray dark:text-light_2
            mb-4 sm:mb-6 md:mb-9 xl:mb-0;
        }
        br{ @apply hidden lg:inline-block;}
    }

    .homeFeaturedProperties{
        .tns-outer{@apply w-full overflow-hidden mx-a;}
        .homeFeaturedProperties__entries{
            @apply flex gap-6;
            .homeFeaturedProperties__card{
                @apply bg-light rounded-[10px] mb-6 lg:mb-0 md:max-w-[416px] mx-auto;
                .card__img{
                    @apply relative rounded-t-[10px] overflow-hidden mb-4 dark:no-mb;
                    img{
                        @apply w-full object-cover
                        transition-all duration-[0.6s] ease-linear;
                    }
                    .price{
                        @apply p-property_entry_price no-mb rounded-[5px]
                        ft-md text-property_entry_price font-text-inter
                        bg-light text-dark_2
                        absolute left-[16px] bottom-[16px];
                    }
                }
                .card__text{
                    @apply f-col items-start dark:p-4;
                    a{
                        @apply text-dark text-[23px]
                        font-text-inter ft-md lh-130 capitalize
                        mb-4;
                    }
                    p.location{
                        @apply text-fs-19 ft-nm lh-140 text-dark font-text-inter mb-2
                    }
                    ul{
                        @apply pl-0  mb-4 flex;
                        li{
                            @apply mr-5 flex items-center gap-2;
                            *{ @apply text-dark_2; }
                            span{
                                @apply ft-md
                                text-fs-16_xl
                                lh-150 font-text-inter;
                            }
                        }
                    }
                    button{
                        @apply flex-grow-0;
                    }
                }
            }
            .homeFeaturedProperties__card:hover{
                .card__img {
                    img {
                        @apply scale-110 transition-all duration-[0.6s] ease-linear
                    }
                }
            }
        }
    }
    

    .homeTopRatedProperties__entries{
        @apply grid md:grid-cols-2 lg:grid-cols-3 gap-6;
        .homeTopRatedProperties__card{
            @apply bg-light rounded-[10px] mb-6 lg:mb-0 md:max-w-[416px] mx-auto;
            .card__img{
                @apply relative rounded-t-[10px] overflow-hidden mb-4 dark:no-mb;
                img{
                    @apply w-full object-cover
                    transition-all duration-[0.6s] ease-linear;
                }
                .price{
                    @apply p-property_entry_price no-mb rounded-[5px]
                    ft-md text-property_entry_price font-text-inter
                    bg-light text-dark_2
                    absolute left-[16px] bottom-[16px];
                }
            }
            .card__text{
                @apply f-col items-start dark:p-4;
                a{
                    @apply text-dark text-[23px]
                    font-text-inter ft-md lh-130 capitalize
                    mb-4;
                }
                p.location{
                    @apply text-fs-19 ft-nm lh-140 text-dark font-text-inter mb-2
                }
                ul{
                    @apply pl-0  mb-4 flex;
                    li{
                        @apply mr-5 flex items-center gap-2;
                        *{ @apply text-dark_2; }
                        span{
                            @apply ft-md
                            text-fs-16_xl
                            lh-150 font-text-inter;
                        }
                    }
                }
                button{
                    @apply flex-grow-0;
                }
            }
        }
        .homeTopRatedProperties__card:hover{
            .card__img {
                img {
                    @apply scale-110 transition-all duration-[0.6s] ease-linear
                }
            }
        }
    }

    .homeBlogEntries{
        @apply grid md:grid-cols-2 lg:grid-cols-3 gap-6;
        .homeBlogEntries__card{
            @apply bg-light rounded-[10px] mb-6 lg:mb-0 md:max-w-[380px];
            .card__img{
                @apply relative rounded-t-[10px] overflow-hidden;
                img{
                    @apply w-full object-cover
                    transition-all duration-[0.6s] ease-linear;
                }
                .date{
                    @apply p-[8px] no-mb rounded-[5px]
                    ft-md text-blog_entry_date font-text-inter
                    bg-light text-dark_2
                    absolute left-[16px] bottom-[16px];
                }
            }
            .card__text{
                @apply p-blog_card_text_content f-col;
                .blogCategory{
                    @apply font-text-inter ft-nm text-blog_category_label
                    text-primary lh-130 mb-2;
                }
                a{
                    @apply text-dark text-blog_entry_title
                    font-text-inter ft-md lh-130 capitalize
                    mb-4;
                }
                ul{
                    @apply pl-0  no-mb flex;
                    li{
                        @apply mr-5 flex items-center gap-2;
                        *{ @apply text-dark_2; }
                        span{
                            @apply ft-md
                            text-fs-16_xl
                            lh-150 font-text-inter;
                        }
                        i{ @apply text-blog_entry_fa; }
                    }
                }
            }
        }
        .homeBlogEntries__card:hover{
            .card__img {
                img {
                    @apply scale-110 transition-all duration-[0.6s] ease-linear
                }
            }
        }
    }

    /* .gallery{
        .img-block{
            border-radius: 10px;
            overflow: hidden;
            img {
                -webkit-transition: all 0.6s linear 0s;
                transition: all 0.6s linear 0s;
            }
            &:hover{
                img {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    -webkit-transition: all 0.6s linear 0s;
                    transition: all 0.6s linear 0s;
                }
            }
        }
    } */

    /* Property Details Page */

    /* property__detail */


    .house__item img {
        @apply block min-w-full object-cover 
    }


    /* property__sched__info */

    .property__sched__info .house__info ul li{
        @apply flex gap-3 items-center my-[16px]
    }
    
    
}

@layer utilities{
    .btn{
        @apply inline-block
        font-text-inter text-button
        leading-[130%] ft-md text-center
        p-button rounded-[5px]
        border-[1px] border-transparent
        transition-all duration-500 ease-in-out;
    }
    .btn.bg--primary-w{
        @apply bg-primary hover:bg-light
        border-primary hover:border-light 
        text-light hover:text-primary
    }
    .btn.bg--transparent-p{
        @apply bg-transparent hover:bg-primary
        border-dark hover:border-transparent 
        text-dark hover:text-light
    }
    .btn.bg--transparent{
        @apply bg-transparent text-dark
        /* border-border hover:border-border/10 */
        hover:bg-dark/10 hover:text-dark;
    }

    .f-col{ @apply flex flex-col }
    .f-col-center{ @apply flex flex-col items-center justify-center }
    .f-center {@apply items-center justify-center }
    .f-between-center {@apply items-center justify-between }


    .ft-el{ @apply font-extralight }
    .ft-lt{ @apply font-light }
    .ft-nm{ @apply font-normal }
    .ft-md{ @apply font-medium }
    .ft-sb{ @apply font-semibold }
    .ft-b{ @apply font-bold }
    .ft-ex{ @apply font-extrabold }

    .mb-30x{ @apply mb-[30px] }
    .mb-40x{ @apply mb-[40px] }
    .mb-60x{ @apply mb-[60px] }
    .mb-80x{ @apply mb-[80px] }
    .no-mb{ @apply mb-0 }
    .mx-a{ @apply mx-auto }

    .tx-a{ @apply left-1/2 -translate-x-1/2 }

    .py-5v{ @apply py-[5vh] }
    .py-10v{ @apply py-[10vh] }
    .py-15v{ @apply py-[15vh] }
    .py-20v{ @apply py-[20vh] }

    .py100{
        @apply py-py100;
    }
    
    .fs-33{
        @apply text-[21px] lg:text-[28px] xl:text-fs-33
    }
    .fs-28{
        @apply text-[18px] xl:text-[28px]
    }
    .fs-23{
        @apply text-[23px] md:text-[18px] xl:text-[23px]
    }
    .fs-19{
        @apply text-fs-19 sm:text-fs-19_sm md:text-fs-19_md
    }
    .fs-16{
        @apply text-fs-16 md:text-fs-16_md lg:text-fs-16_lg xl:text-fs-16_xl
    }

    
    .lh-100{
        @apply leading-[100%]
    }
    .lh-110{
        @apply leading-[110%]
    }
    .lh-120{
        @apply leading-[120%]
    }
    .lh-130{
        @apply leading-[130%]
    }
    .lh-140{
        @apply leading-[140%]
    }
    .lh-150{
        @apply leading-[150%]
    }
    .lh-160{
        @apply leading-[160%]
    }
    .lh-180{
        @apply leading-[180%]
    }
    .-ls-0{
        @apply tracking-[-0.00em];
    }
    .-ls-1{
        @apply tracking-[-0.01em];
    }
    .-ls-2 {
        @apply tracking-[-0.02em];
    }
    .-ls-3{
        @apply tracking-[-0.03em];
    }
    .-ls-4{
        @apply tracking-[-0.04em];
    }
}